/********tvhoan 20-02-2017***/
.wrap-toggle:after {
    content: "";
    clear: both;
    display: block;
}
ul.tab-login li, .right-popup ul li{
	float: left;
	list-style-type: none;
}
ul.tab-login{
	border-bottom: 1px solid #185493;
  padding-left: 0px;
}
ul.tab-login:after, .right-popup ul:after{
	content:"";
	clear: both;
	display: block;
}
ul.tab-login li a{
	display: block;
	padding: 5px 15px;
	font-size: 14px;
	color: #333;
}
ul.tab-login li.active a{
	background: #185493;
	color: #ffffff;
}
ul.tab-login li a:hover{
	background: #337ab7;
	color: #ffffff;
}
.right-popup ul li a{
	display: block;
}
.right-popup ul li{
	margin-right: 5px;
}
.right-popup ul li a i{
	font-size: 18px;
	color: #fff;
	padding: 5px 8px;
	display: inline-block;
}
.right-popup ul li.facebook i{
	background: rgb(0, 94, 145);
}
.right-popup ul li.google i{
	background: #F44336;
}
.right-popup ul li.facebook{
	border: 1px solid rgb(0, 94, 145);
    width: 45%;
    border-radius: 29px;
    overflow: hidden;
}
.right-popup ul li.google{
	border: 1px solid #F44336;
	width: 45%;
	float: right;
	border-radius: 34px;
	overflow: hidden;
}
.right-popup ul li.facebook a span{
	color: rgb(0, 94, 145);
}
.right-popup ul li.google a span{
	color: #F44336;
}
.right-popup ul li a span{
	padding-left: 15px;
	padding-right: 25px;
	display: inline-block;
}
.right-popup ul{
	padding-left: 0px;
}
.search-blk{
	clear: both;
}
span.delete-Search{
	display: none;
}
.tim-kiem-search-form{
	float: none;
    padding-top: 10px;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
}
.tim-kiem-search-form:after{
	content: "";
	clear: both;
	display: block
}
.search-text span{
	display: block;
	cursor: pointer;
	float: left;
	height: 35px;
	background: #e5e5e5;
	padding-left: 10px;
	padding-right: 10px;
}
.search-text span img{
	max-height: 35px;
	float: left;
	max-width: 75px;
    width: 75px;
    height: 35px;
}
.search-text span i{
	position: relative;
	font-size: 15px;
	padding-right: 3px;
	padding-left: 5px;
	float: left;
	margin-top: 10px;
}
.search-text{
	  /* border: 2px solid #185493; */
	  border: 1px solid #acacac;
    margin-top: 5px;
    margin-bottom: 2px;
}
.search-text:after {
    content: "";
    clear: both;
    display: block;
}
/* form.tim-kiem-add-form input.form-submit {
    cursor: pointer;
    clear: both;
    width: 100%;
    background: #185493;
    border: none;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    -webkit-appearance: none;
    color: #ffffff;
    font-size: 15px;
		height: auto;
		float: none;
} */
form.tim-kiem-add-form input.form-submit {
    border: none;
    padding: 0px;
    position: absolute;
    z-index: 99;
    right: 5px;
    top: 25px;
    background: url(../images/icons%401x-cf9e550cd7.png);
    background-position: -77px -53px;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
		cursor: pointer;
}
form.tim-kiem-add-form .search-text .form-item input.form-text{
	padding: 0px;
	line-height: 35px;
	height: 35px;
}
form.tim-kiem-add-form .form-item{
	width: 65%;
}
@media (max-width: 359px){
	form.tim-kiem-add-form .form-item{
		width: 60%;
	}
}
ul.search-hover {
    position: absolute;
    z-index: 1001;
    cursor: pointer;
    background: #e5e5e5;
    width: 112px !important;
}
.search-text ul.search-hover li {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 100%;
    float: left;
}
.search-text ul.search-hover li img {
    padding-left: 10px;
    padding-right: 10px;
    max-height: 35px;
}
.search-text ul.search-hover li:hover{
	background: #ffffff;
}
.olay-css {
    height: 100%;
    position: absolute;
    width: 100%;
}
@keyframes ring {
    0% {
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
    2% {
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    4% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
    6% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg)
    }
    8% {
        -webkit-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }
    10% {
        -webkit-transform: rotate(22deg);
        -ms-transform: rotate(22deg);
        transform: rotate(22deg)
    }
    12% {
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
    14% {
        -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
        transform: rotate(18deg)
    }
    16% {
        -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }
    18% {
        -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
        transform: rotate(12deg)
    }
    100%,
    20% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
i.fa-bell-o{
	-webkit-animation: ring 2s ease infinite;
   animation: ring 2s ease infinite;
   -moz-animation: ring 2s ease infinite;
}
.menu-show{
	width: 95%;
	left: -95%;
}
.menu-hide{
	/* left: 0px; */
	/* width: 95%; */
	width: 100%;
}
ul.mobi-tt li:hover{
	background: #185493;
}
ul.mobi-tt li:hover a{
	color: #ffffff;
}
.menu-mobi ul.mobi-tt li a{
	display: block;
}
.main{
	margin-top: 57px;
	/* padding-top: 15px; */
}
header{
	position: fixed;
	z-index: 9999;
	top: 0px;
	width:100%;
    box-shadow: 0 0 5px #000;
}
ul.menu-link li a:hover, .login-menu a:hover{
	background: #337ab7;
	color: #ffffff;
}
a.ttcn{
	background: #185493;
}
h1.title-page{
	font-size: 20px;
	color: #185493;
	border-bottom: 1px solid #185493;
	padding-bottom: 5px;
	text-transform: none;
	margin-top: 10px;
	font-weight: bold;
}
.title-page-wrapper{
  display: block;
  background: #185493;
  overflow: hidden;
  padding: 5px 2%;
  margin-bottom: 15px;
}
.title-page-wrapper h1.title-page{
  color: #ffffff;
  border-bottom: none;
  padding: 5px 0;
  margin: 0;
  line-height: 1.5;
}
.title-page-wrapper a{
  color: #ffffff;
}
#don-hang-thong-tin-ca-nhan-add-form input.form-submit{
	background: #185493;
	color: #ffffff;
	padding: 5px 15px;
	border: 0px;
	margin-bottom: 5px;
	font-size: 15px;
}
input.form-text {
    width: 100% !important;
    border: 1px solid #ddd;
    padding: 6px 12px !important;
    /* padding-left: 30px !important; */
    height: 34px !important;
    box-sizing: border-box;
    outline: none;
}
select{
	padding: 6px 12px;
	border: 1px solid #ddd;
	height: 34px;
}
.gia-tri-hop-tac img{
	display: block;
	margin: auto;
	max-width: 100%;
}
.gia-tri-hop-tac h3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #185493;
    line-height: 27px;
    font-size: 19px;
}
.gioi-thieu-ve-thuong-do h2 {
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #185493;
	line-height: 27px;
	font-size: 19px;
	/* background: url(../images/h3-gioi-thieu.png) no-repeat center 60px transparent; */
	padding-bottom: 10px;
}
li.mb-active{
	background: #337ab7;
}
li.mb-active a{
	color: #ffffff !important;
}
.img-responsive{
	max-width: 100%;
	display: block;
	margin: auto;
}
.tai-khoan-giao-dich ul li.item-4{
	background: #33CC94;
}
.menu-mobi ul.mobi-tt li a{
	font-size: 16px;
}
.san-pham-item-image .image-hover {
    display: none;
    position: absolute;
    z-index: 100;
    left: 32px;
    top: 32px;
    float: left;
    width: 300px;
    height: 300px;
}
.san-pham-item-image {
    position: relative;
}
.san-pham-item-image:hover .image-hover {
    display: block;
}
table.product-view-detail tbody tr td .title {
    width: 290px;
    display: inline-block;
    text-align: center;
}
table.don-hang-cua-ban-item tr th, table.product-view-detail tr th {
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #E8EAE5;
    color: #333;
    text-indent: 10px;
}
table.product-view-detail tr th {
    background: #0092d0;
    color: white;
}
.don-hang-detail-item tr.border-none td {
    border-bottom: 1px solid #e5e5e5;
}
.don-hang-detail-item tr td {
	padding: 6px;
}
.don-hang-detail-item tr.color-red {
	background: #bd0b0b !important;
	color:white;
}
.don-hang-detail-item tbody {
    border: none;
}
table tbody tr{
	background: #fff !important;
}
table tbody tr.even{
	background:#eee !important;
}
.inner-total-right {
    float: right;
	width: 100%;
    text-align: center;
}
.don-hang-detail-item table {
    float: left;
    width: 100%;
}
.don-hang-detail-item{
	overflow: auto;
}
.don-hang-detail-item tr.info {
    background: #e5e5e5 !important;
}
.don-hang-detail-item tr td label {
    float: left;
    width: 25%;
    font-weight: normal;
}
.don-hang-detail-item tr td span.status , .don-hang-cua-ban-item  tr td span.status{
    border-radius: 3px;
    color: white;
		display:inline-block;
		padding: 2px 10px;
}
.don-hang-detail-inner h3 {
    text-transform: uppercase;
    color: #333;
}
 table.don-hang-cua-ban-item thead tr th {
    background: #0092d0;
    color: white;
		text-indent: 0px;
}
table.don-hang-cua-ban-item tr td {
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
		border-right: 1px dotted gainsboro;
}
.don-hang-detail-inner{
  display: block;
  clear: both;
}
#slider1_container{
	margin: auto;
}
.don-hang-da-dat-search-form input.form-submit{
	background: #185493;
    color: #fff;
    border: 0px;
    padding: 8px 40px;
    cursor: pointer;
}
.don-hang-da-dat-search-form a.search-form{
	display: none;
}
.don-hang-da-dat-search-form input.form-submit:hover{
	background: #0092d0;
}
.w-clear, .form-login-user{
	clear: both;
}
.w-50{
	width: 48%;
	float: left;
	margin-right: 5px;
}
.w-item:after{
	content: "";
	clear: both;
	display: block;
}
.w-item{
	background: #f5f5f5;
	margin-bottom: 10px;
	/* border-top: 2px solid #ddd; */
}
.w-item > div > div:not(.w-50){
	padding: 5px;
}
th.stt{
	width: 40px;
}
form.don-hang-da-dat-search-form .container-inline-date{
	clear: none;
}
form.don-hang-da-dat-search-form .form-item-order-code{
	clear: both;
}
.popup-login-regiter-form h1, .popup-login-regiter-form h2{
	background: #f1f1f1 none repeat scroll 0 0;
    box-sizing: border-box;
    padding: 0px;
    text-transform: uppercase;
    font-size: 18px;
    text-indent: 10px;
}
.page-dang-ky.ismobiledevice h1{
	display: none;
}
.dich-vu-khac .form-item {
	float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.dich-vu-khac .form-type-radios label {
    display: inline-block;
}
.dich-vu-khac .form-type-radios .form-radios {
    display: inline-block;
}
.pham-tram-phi-giao-dich {
    display: inline-block;
    width: 100%;
    background: red;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.yeu-cau-khac .van-chuyen {
    background: #cfeefc;
    margin-bottom: 10px;
    padding: 5px;
}
.yeu-cau-khac .van-chuyen .form-radios .form-item input {
    margin: 0px;
}
.shop-tong{
	clear: both;
}
.dich-vu-khac:after{
	content: "";
	clear: both;
	display: block;
}
span.vi-dien-tu{
	background: #6A7181 none repeat scroll 0 0;
	clear: both;
	display: block;
	font-size: 18px;
	margin: 10px 2%;
	padding: 6px;
	color: #fff;
}
.panel-title{
	background: #ddd;
	padding: 4px;
	cursor: pointer;
}
.panel-title a{
	color: #333;
}
.panel-title a:hover{
	color: #39f;
}
.panel-title:not(.item-is-hidden) ~ .wrap-toggle{
	border: 1px solid #ddd;
}
.item-is-hidden{
	display: none;
}
.dat-hang-online-form{
	clear: both;
}
#thongke-gui-kien-hang-form .btn-send{
	margin-top: 10px;
}
#thongke-gui-kien-hang-form .form-item{
	margin-top: 0px;
	margin-bottom: 0px;
}
#thongke-gui-kien-hang-form .form-type-select label, #thongke-gui-kien-hang-form .form-type-checkboxes > label{
	float: left;
	margin-right: 5px;
}
#thongke-gui-kien-hang-form .form-type-checkboxes label ~ div{
	float: left;
}
#thongke-gui-kien-hang-form .item-not-hidden-1:after{
	content: "";
	clear: both;
	display: block;
}
.search-toggle{
	margin-right: 5px;
}
.kien-hang-list-item .item{
	clear: both;
	background: #f0f0f0;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.kien-hang-list-item .item .top {
    background: #f0f0f0;
    float: left;
    width: 98%;
    padding: 1%;
    color: #666;
}
.kien-hang-list-item .item .top strong {
    float: left;
    margin-right: 30px;
}
.kien-hang-list-item .item .top span.status {
    background: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 13px;
	float:right;
}
.kien-hang-list-item .item .top span.status.blue {
    background: green;
}
.kien-hang-list-item em {
	position:relative;
	font-style: inherit;
	top:-4px;
}
.kien-hang-list-item .item table {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.product-detail-kien-hang {
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
}
.kien-hang-list-item .item ul {
    display: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    float: left;
    width: 100%;
}
.kien-hang-list-item .item ul li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    list-style: none;
}
.kien-hang-list-item .item table tr td {
    text-align: center;
    width: 24%;
    padding: 1%;
    border: 1px solid #efeded;
}
.kien-hang-history-status table {
    margin-top: 10px;
    display: none;
}
ul.step-action-kien-hang {
    padding-left: 0px;
}
ul.step-action-kien-hang li {
    float: left;
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;
		margin-bottom: 5px;
}
ul.step-action-kien-hang li a {
    background: #f1f1f1 none repeat scroll 0 0;
		display: block;
		font-size: 16px;
		font-weight: bold;
		min-width: 135px;
		padding: 6px;
}
ul.step-action-kien-hang li.active a {
    background: #185493;
    color: #fff;
}
ul.step-action {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
ul.step-action li {
    list-style: none;
    float: left;
    min-width: 132px;
    background: url(../images/li-step.png) no-repeat right 0px transparent;
    padding-right: 0px;
    padding-left: 15px;
    height: 31px;
    line-height: 32px;
}
ul.step-action li.active {
    background: url(../images/li-step-active.png) no-repeat right -1px #175392;
    color: white;
}
table.don-hang-cua-ban-item tr td button {
    display: block;
		margin: auto;
    margin-top: 4px;
    background: #FFC107;
		 /* background: #2ea300; */
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
table.don-hang-cua-ban-item tr td button.dat-coc-full {
    background: #0092d0;
}
table.don-hang-cua-ban-item tr td button.dat-coc-full:hover {
    background: #2ea300;
}
table.don-hang-cua-ban-item tr td button:hover {
    background: #2ea300;
}
.lich-su-giao-dich-page-item .message-alert {
    background: #e5e5e5;
	margin-bottom:10px;
}
.lich-su-giao-dich-page-item .message-alert ul li {
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 20px;
	padding-top: 20px;
}
.lich-su-giao-dich-page-item .message-alert ul li.color {
	background: #f5f5f5;
}
.lich-su-giao-dich-page-item .message-alert ul li.blue b {
    color: #2ea300;
}
.lich-su-giao-dich-page-item .message-alert ul li.red b {
    color: red;
}
.count-don-hang{
	float: right;
    background: #F44336;
    line-height: 15px;
    font-size: 13px;
    color: white;
    width: 20px;
    text-align: center;
    border-radius: 10px;
		margin-right: 10px;
}
.ttcn-wrap-basic {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.ttcn-wrap-basic {
    clear: both;
}
.ttcn-wrap-title {
    background: #f5f5f5;
    padding: 5px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.ttcn-wrap-basic:after {
    content: "";
    clear: both;
    display: block;
}
.label-bs {
    font-family: Arial;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-bs-success {
    background-color: #5cb85c;
}
.label-bs-warning {
    background-color: #f0ad4e;
}
.label-bs-danger {
    background-color: #d9534f;
}
.label-bs-primary {
    background-color: #337ab7;
}
.label-bs-default {
    background-color: #777;
}
.info-basic{
	clear: both;
  padding-top: 10px;
}
.info-basic .form-radios > .form-item{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-size: 15px;
}
.hidden {
    display: none;
}
.panel-notify {
	position: absolute;
	top: 37px;
	right: 2px;
	z-index: 99999;
	display: none;
	width: 280px;
	background: #fff;
	float: left;
	height: 320px;
	box-shadow: 0 2px 5px 0 rgba(50,50,50,0.64);
}
.panel-notify .notify-header{
	display: inline-block;
	width: 100%;
	float: left;
	background: #f6f8f8;
	border-bottom: 1px solid #bfbfbf;
	padding: 7px 0;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: #032d3e;
	font-weight: bold;
	position: relative;
	z-index: 10;
	border-top: 1px solid #e3e5e5;
  border-bottom: 1px solid #e3e5e5;
}
/* .notify-header:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194,225,245,0);
    border-bottom-color: #e3e5e5;
    border-width: 10px;
    margin-left: -10px;
    right: 15px;
    top: -20px;
    z-index: -1;
}
.notify-header:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136,183,213,0);
    border-bottom-color: #f6f8f8;
    border-width: 9px;
    margin-left: -9px;
    right: 15px;
    top: -17px;
} */
.panel-notify .notify-body{
	display: inline-block;
    width: 100%;
    float: left;
    background: transparent;
    position: relative;
}
.panel-notify .notify-body ul.notify-sidebar {
	height: 320px;
    -webkit-box-shadow: inset -2px 0px 5px 0px #dbdbdb;
    -moz-box-shadow: inset -2px 0px 5px 0px #dbdbdb;
    box-shadow: inset -2px 0px 5px 0px #dbdbdb;
	z-index: 9;
    width: 68px;
    display: inline-block;
    float: left;
    background: #f9f9f9;
    position: relative;
    border-right: 1px solid #dbdbdb;
	padding: 0px;
	margin: 0px;
}
.panel-notify .notify-body ul.notify-sidebar li {
	width: 100%;
  margin: 0px;
  padding: 0px;
	float: none;
  height: auto;
  line-height: normal;
	border: 0px;
}
.panel-notify .notify-body ul.notify-sidebar li a {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 23px 0 7px;
	border-bottom: 1px solid #e9e9e9;
	position: relative;
}
.uk-badge-abs{
	   position: absolute;
    top: 4px;
    right: 5px;
    text-align: center;
    z-index: 99;
}
.panel-notify .notify-body ul.notify-sidebar li a.active {
	background: #219ae8;
	cursor: pointer;
}
.panel-notify .notify-body ul.notify-sidebar li a.active i{
	color:white;
}
.panel-notify ul.notify-sidebar li a i {
    float: none;
    margin-right: 0px;
    font-size: 22px;
    display: block;
    margin-top: 0px;
		color: #999;
    position: relative;
    z-index: 0;
}
.panel-notify ul.notify-sidebar li a.active i{
	color: #fff;
}
.panel-notify .notify-body ul.notify-sidebar li a.active {
    background: #219ae8;
    cursor: pointer;
}
a.noti-bell b {
    position: absolute;
    left: 11px;
    z-index: 10;
    background: red;
    color: white;
    padding-right: 0px;
    border-radius: 2px;
    font-size: 11px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: -5px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}
a.noti-bell{
	position: relative;
}
.notify-content  ul li{
	height: auto;
	border-top: 0px !important;
	float: none;
	padding: 10px;
	margin-left: 0px !important;
	border-bottom: 1px solid #dddfe2 !important;
	width: 100%;
	box-sizing: border-box;
	transition: background .5s ease-out;
	-webkit-transition: background .5s ease-out;
	-moz-transition: background .5s ease-out;
	line-height: normal;
	border-bottom: 1px solid #dddfe2 !important;
	margin-bottom: 0px;
  padding-top: 10px;
	color: #333;
}
.notify-content  ul li a, .notify-content a{
	color: #333;
}
.notify-content a{
	
}
.notify-body .notify-content ul li:hover {
    background: #185493 !important;
    color: #fff;
}
.notify-body .notify-content ul li:hover a{
	color: #fff;
}
.notify-body .notify-content ul{
	padding-left: 0px !important; 
	max-height: 320px;
	overflow-y: auto;
}
.notify-body .notify-content {
    float: left;
    width: 74%;
    height: 100%;
    box-sizing: border-box;
}
.notify-body .notify-sidebar {
    width: 24% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a.non-format {
    float: none !important;
    text-align: center;
    display: block;
    clear: both;
    padding: 5px;
    color: #185493 !important;
    font-weight: bold;
    background: #f6f8f8;
}
.notify-body ul li:nth-child(2n) {
    /*background: #edf2fa;*/
}
h3 i.stt, .data-item tr td i.stt {
    float: left;
    margin-right: 10px;
    font-style: normal;
    background: #0099fe;
    border-radius: 12px;
    min-width: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    height: 20px;
    line-height: 20px;
}
.data-item tr td i.stt {
    background: #3db660;
}
form.don-hang-gio-hang-add-form .shop-item h3 {
    margin: 0px;
    background: #EAF8FF;
    padding: 6px;
    margin-bottom: 10px;
	font-size:15px;
}
.don-hang-item table label{
	width: auto !important;
	font-weight: bold !important;
  margin-right: 5px;
}
.don-hang-detail-item form.don-hang-gio-hang-add-form .shop-item {
	border: 1px solid #ddd;
	margin-bottom: 5px;
	display: inline-block;
    width: calc(100% - 2px);
}
.don-hang-detail-item .shop-tong ul li span{
	display: inline-block;
	float: left;
	margin-right: 5px;
	font-weight: normal;
    width: 110px;
}
.don-hang-detail-item .shop-tong ul li{
	list-style-type: none;
	clear: both;
}
form.don-hang-gio-hang-add-form .shop-item .shop-tong{
	width: 100% !important;
}
.don-hang-detail-item .shop-tong ul{
	padding-left: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
}
form.don-hang-gio-hang-add-form .shop-item .shop-tong .form-item{
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 5px;
}
form.don-hang-gio-hang-add-form .dich-vu-khac{
	float: right;
}
.data-item th{
	background: #0092d0 none repeat scroll 0 0;
	color: #fff;
}
.back-to-back{
	display: block;
	font-size: 17px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.lich-su-giao-dich-page-item table{
	width: 100%;
}
.lich-su-giao-dich-page-item table th{
	background: #0092d0 none repeat scroll 0 0;
	color: #fff;
}
.khach-hang-rut-tien-add-form input.form-submit{
	background: red none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 15px;
	text-transform: uppercase;
}
.ds-khieu-nai table tbody td{
	text-align: left;
}
.ds-khieu-nai table tbody td label{
	float: left;
	margin-right: 5px;
}
.clearfix{
	clear: both;
}
/*css header chinhnd*/
.header-phone {
	position: fixed;
    bottom: 2px;
    background: red;
    padding: 6px 10px;
    border-radius: 5px;
}
.header-phone b, .header-phone b a {
    color: #fff;
    font-size: 18px;
}

@keyframes hvr-icon-buzz {
  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  100% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
}
.header-phone img {
    max-width: 16px;
	webkit-animation-name: hvr-icon-buzz;
    animation-name: hvr-icon-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
	float: left;
    margin-top: 3px;
    width: 16px;
    height: 16px;
}
.hotline .header-seach {
    float: left;
    margin-right: 10px;
}
.hotline .uk-position-relative {
    display: inline-block;
}
.header-seach .fa-search{
    font-size: 18px;
}
.form-search-product-all-header {
    font-size: 12px;
    background-color: #fff;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow-y: auto;
}
.form-search-product-all-header.search-open {
	display:block;
}
.form-search-product-all-header .form-search-product-all-header-close {
    position: absolute;
    font-size: 30px;
    right: 20px;
    color: #000;
	top: 8px;
}
.form-search-product-all-header .tim-kiem-search-form {
    margin-top: 30px;
}
.fadeIn {
    -webkit-animation: fadeIn 300ms both;
    animation: fadeIn 300ms both;
}

/*End chinhnd*/
input#edit-submit-google {
	display:none;
}
.ismobiledevice .popup-login-regiter-form .left-popup .form-actions input.form-submit {
	width: 96% !important;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
	background: #FF9800 !important;
	padding-top:10px;
	padding-bottom:10px;
}
span.hr-light {
	display: inline-block;
    width: 100%;
    text-align: center;
}
.right-popup h3 {
	text-align:center;
}
form.khach-hang-forgot-password-form input.form-submit{
	margin-bottom: 20px;
    background: #FF9800;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.breadcrumb i{
	float: left;
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
}
.breadcrumb a {
	color: #333;
	float: left;
}
.popup-login-regiter-form .left-popup .form-item {
	width: 100% !important;
}
form .popup-login-regiter-form .left-popup .form-item-remember-me {
	float: left !important;
    width: auto !important;
}
.popup-login-regiter-form .left-popup a.forgot-pasword {
	float: right;
    margin-top: 10px;
    margin-right: 2%;
    color: #333;
}
span.vi-dien-tu em {
	position: relative;
    font-style: inherit;
    top: -6px;
    font-size: 13px;
}
span.vi-dien-tu.red b {
	color:white;
}
span.vi-dien-tu b {
	color:green;
}
.popup-login-regiter-form {
	background: #f5f5f5;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.popup-login-regiter-form .left-popup {
	background:white;
	margin-bottom: 10px;
}
.popup-login-regiter-form .left-popup .form-item{
	width: 96% !important;
	margin-left: 2%;
	margin-right: 2%;
}
.popup-login-regiter-form .left-popup .form-item input.form-text {
	
}
.don-hang-detail-item .shop-item .shop-tong ul {
	
}
.don-hang-detail-item .shop-item .shop-tong ul li {
	float: left;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #f5f5f5;
}
.don-hang-detail-item .shop-item .shop-tong ul li.even {
	background:none;
}
.don-hang-detail-item em {
	position:relative;
	top:-4px;
	font-style: normal;
}
table.don-hang-thong-tin-item tr td label {
	width: 100% !important;
    margin-bottom: 5px;
}
.lich-su-giao-dich-page-item .view-content ul {
	padding: 0px;
}
.lich-su-giao-dich-page-item .view-content ul li{
	float: left;
    width: 100%;
    list-style: none;
    background: #f5f5f5;
    margin-bottom: 20px;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top {
	float:left;
	width:96%;
	padding: 2%;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-left {
	width:50%;
	float:left;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-right {
	float:right;
	width:50%;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-left span.post {
	color:#666;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-left span.loai-giao-dich {
	text-transform: uppercase;
	color: red;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-left span.loai-giao-dich.blue {
	color: #0ba20b;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-right span {
	float: right;
	width: 100%;
	text-align: right;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-right span em, .lich-su-giao-dich-page-item .view-content ul li .history-content em {
	position: relative;
    top: -4px;
    font-style: inherit;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-right span b {
	color:red;
}
.lich-su-giao-dich-page-item .view-content ul li .history-top .history-top-right span.blue b {
	color: #0ba20b;
}
.lich-su-giao-dich-page-item .view-content ul li .history-content{
	width: 96%;
    float: left;
    padding: 2%;
    background: #e2e0e0;
}
.lich-su-giao-dich-page-item .view-content ul li .history-content a {
	color:#333;
}
.yeu-cau-vc {
    background: #f3f3f3;
    display: inline-block;
    width: calc(100% - 20px);
    margin-top: 15px;
    padding: 10px;
}
.yeu-cau-vc label {
    
}